
<div class="container mt-4">
    <div class="card" >
        <div class="table-responsive">
          <table class="table align-items-center mb-0" >
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Emp_ID</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Location</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mobile</th>
              </tr>
            </thead>
            <tbody *ngIf="employee">
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                   
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-xs">{{employee.id}}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">{{employee.name}}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="text-xs font-weight-bold mb-0">{{employee.location}}</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{employee.email}}</span>
                </td>
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{employee.mobile}}</span>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="btn btn-primary" (click)="getBack()">Back</div>
    </div>